body, html{
    margin:0;
    padding:0;
    overflow:hidden;
    height: 100%;
}

.buttonCristina{
    border: 0.02em solid black;
    background-color: blueviolet;
    color: #000000;
    font-weight: bold;}
.button_mada{
    color:magenta;
    font-weight: bold;
}

.buttonStefan{
    color: blueviolet;
}